@import "tailwindcss";

@theme {
  --color-bgDark: #121212;
  --color-cardDark: #1e1e1f;
  --color-borderGray: #383838;
  --color-accentYellow: #ffdb70;
}

body {
  background-color: var(--color-bgDark);
  color: white;
}